<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SKVJLT1BPM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SKVJLT1BPM');
</script>

{% if page.use_math_jax %}
    <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endif %}

<link rel="icon" href="{{ "/favicons/favicon-32x32.png" | relative_url }}" sizes="32x32">
<link rel="icon" href="{{ "/favicons/favicon-16x16.png" | relative_url }}" sizes="16x16">
<link rel="icon" href="{{ "/favicons/android-chrome-192x192.png" | relative_url }}" sizes="192x192">
<link rel="icon" href="{{ "/favicons/android-chrome-512x512.png" | relative_url }}" sizes="512x512">
<link rel="apple-touch-icon" href="{{ "/favicons/apple-touch-icon.png" | relative_url }}" sizes="180x180">
